body {
    margin-top: 10px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    background-color: darkgray;
    color: black;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
}

div {
    position: relative;
}

h1{
    color: black;
}
