body {
    background-color: darkgray;
    font-family: Roboto, sans-serif;
    margin: auto 5px;
    font-size: 30px;
    display: inline-block;
}

header {
    text-align: center;
    padding-top: 100px;
}