<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Products</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <section class="navigation">
            <p>
                <a href="index.html" target="_blank">The Grunge!</a>
            </p>
            <nav>
                <ul>
                    <li><a href="/templates/shirts.html" th:href="@{/templates/shirts}">SHIRTS</a></li>
                    <li><a href="/templates/jeans.html" th:href="@{/templates/jeans}">JEANS</a></li>
                    <li><a href="/templates/dress.html" th:href="@{/templates/dress}">DRESS</a></li>
                    <li><a href="/templates/shoes.html" th:href="@{/templates/shoes}">SHOES</a></li>
                    <li><a href="/templates/accessories.html" th:href="@{/templates/accessories}">ACCESSORIES</a></li>
                </ul>
            </nav>
        </section>

    </nav>
</header>
</body>
</html>