<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,
    initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GrungeShop</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<header>
    <section class="navigation">
        <p>"The Grunge!"</p>
        <nav>
            <ul>
                <li><a href="#">SHIRTS</a></li>
                <li><a href="#">JEANS</a></li>
                <li><a href="#">DRESS</a></li>
                <li><a href="#">SHOES</a></li>
                <li><a href="#">ACCESSORIES</a></li>
                <li><a href="#">REGISTER</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
        </nav>
    </section>
    <section class="site-header">
        <h1>A comfort corner for THE GRUNGE</h1>

            <button> LEARN MORE</button>


    </section>
</header>

</body>
</html>