<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GrungeShop Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<header>
    <li><a href="/templates/index.html" th:href="@{/index}">The Grunge!</a></li>


<main>
    <h2 class="text-center text-white">Login</h2>
    <form class="mx-auto w-25 bg-blur"
              th:action="@{/login}"
              th:method="post"
              th:object="${loginDTO}">

        <div class="form-group">
            <label for="email" class="text-white font-weight-bold">Email</label>
            <input value="email" id="email" name="email" type="text" min="5"
                   class="form-control"
                   th:field="*{email}"
                   th:errorclass="is-invalid"
                   placeholder="Email"/>
        </div>
        <div class="form-group">
            <label for="password" class="text-white font-weight-bold">Password</label>
            <input  value="password" id="password" name="password" type="password" min="5"
                    max="20" class="form-control"
                    th:field="*{password}"
                    th:errorclass="is-invalid"
                    placeholder="Password"/>
            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                   id="passwordHelpInline"
                   class="text-danger">
            </small>
        </div>

        <p th:if="${bad_credentials}" class="errors alert alert-danger">
            Invalid username or password.
        </p>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder">
                    <input type="submit" class="btn btn-info btn-lg" value="ENTER"/>
                </div>
            </div>
        </div>
    </form>
</div>
</main>
</header>

    <footer>
        <p>All rights reserved to Lara</p>
    </footer>

</body>
</html>