<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GrungeShop</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <section class="navigation">
            <p>"The Grunge!"</p>
            <nav>
                <div class="dropdown">
                    <button class="dropbtn">Products</button>
                    <div class="dropdown-content">
                        <a href="#">SHIRTS</a>
                        <a href="#">JEANS</a>
                        <a href="#">DRESS</a>
                        <a href="#">SHOES</a>
                        <a href="#">ACCESSORIES</a>
                    </div>
                </div>
            </nav>
            <section class="site-header">
                <h1>A comfort corner for THE GRUNGE</h1>
                <a href="learn-more.html" target="_blank">The history</a>
            </section>
        </section>

</body>
</html>