<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GrungeShop</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <section class="navigation">
            <a href="index.html" target="_blank">The Grunge!</a>
            <nav>
                <ul>
                    <li><a href="#">SHIRTS</a></li>
                    <li><a href="#">JEANS</a></li>
                    <li><a href="#">DRESS</a></li>
                    <li><a href="#">SHOES</a></li>
                    <li><a href="#">ACCESSORIES</a></li>
                </ul>
            </nav>
        </section>
    </nav>
</header>
</body>
</html>