<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GrungeShop Register</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>

<body>
<header>
    <li><a href="/templates/index.html" th:href="@{/index}">The Grunge!</a></li>

<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Register</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-blur rounded"
          th:action="@{/users/register}"
          th:method="post"
          th:object="${userRegisterDTO}" >

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="email" class="h4 mb-2">Email</label>
            </div>
            <input th:field="*{email}"
                   th:errorclass="'is-invalid alert-danger'"
                   type="email"
                   class="form-control"
                   id="email"
                   name="email"/>
            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="emailHelpInline"
                   class="text-danger">
            </small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="password" class="h4 mb-2">Password</label>
            </div>
            <input type="password"
                   class="form-control"
                   id="password"
                   th:field="*{password}"
                   th:errorclass="'is-invalid alert-danger'"
                   name="password"/>

            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                   id="passwordHelpInline"
                   class="text-danger">
            </small>

        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
            </div>
            <input type="password"
                   class="form-control"
                   id="confirmPassword"
                   th:field="*{confirmPassword}"
                   th:errorclass="'is-invalid alert-danger'"
                   name="confirmPassword"/>
            <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                   id="confirmPasswordHelpInline"
                   class="text-danger">
            </small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="username" class="h4 mb-2">Username</label>
            </div>
            <input type="username"
                   class="form-control"
                   id="username"
                   th:field="*{username}"
                   th:errorclass="'is-invalid alert-danger'"
                   name="username"/>
            <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                   id="usernameHelpInline"
                   class="text-danger">
            </small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">REGISTER</button>
        </div>

    </form>
</main>

<footer> All rights</footer>
    </nav>

</header>
</body>
</html>
